@model HotelManegementSystem.ViewModels.BookingViewModels
@{
    ViewBag.Title = "Index";
}
@if (Model != null && Model.AccomodationPackage != null)
{
   

    var Images = Model.AccomodationPackage.AccomodationPackageImages != null && Model.AccomodationPackage.AccomodationPackageImages.Count() > 0 ? Model.AccomodationPackage.AccomodationPackageImages.First() : new HmsEntity.AccomodationPackageImage();
    var ImageUrl = Images.Image != null ? Images.Image.Url : "img_1.jpg";

    <div class="block-30 block-30-sm item" style="background-image: url('/Content/images/Site/@ImageUrl');" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-10">
                    <span class="subheading-sm">@Model.AccomodationPackage.AccomodationType.Name</span>
                    <h2 class="heading">@Model.AccomodationPackage.Name</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="site-section">

        <div class="container">
            <div class="errorDiv" style="color:red;"></div>
            <div class="row block-9">
                <div class="col-md-6 pr-md-5">
                    
                    <h4 class="text" style="display:block">Check Availablity</h4>
                    <form id="MyForm">
                        <input type="hidden" value="@Model.AccomodationPackage.Id" name="AccomodationPackageId"/>

                        <label for="checkin">Check In</label>
                        <div class="form-group field-icon-wrap">
                            @*<div class="icon"><span class="icon-calendar"></span></div>*@
                            <input type="text" name="FromDate" id="checkin_date" class="form-control">
                        </div>
                        <label for="checkin">Check out</label>
                        <div class="form-group field-icon-wrap">
                            @*<div class="icon"><span class="icon-calendar"></span></div>*@
                            <input type="text" name="Duration" id="checkin_date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="checkin">Total Room Required *</label>
                            <input type="number" onblur="f()" class="form-control" name="TotalRooms" id="totalRoom">
                        </div>

                        <div class="form-group">
                            <input type="button" value="Check Availablity" class="btn btn-primary" id="actionButton">
                        </div>
                    </form>

                </div>

                <div class="col-md-6">
                    
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Book Your Hotel</span>
                           
                        </h4>
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">@Model.AccomodationPackage.Name</h6>
                                    <small class="text-muted">@Model.AccomodationPackage.Details.Substring(0, 20)</small>
                                </div>
                                <span class="text-muted" id="countRoom"></span>
                                <span class="text-muted" id="perRoom">₹/perRoom- @Model.AccomodationPackage.PerNight</span>
                                <span class="text-muted" id="TotalAmount"></span>
                            </li>
                            
                         
                           
                        </ul>

                        <form class="card p-2">
                            <div class="input-group">
                                <button type="button" class="btn btn-primary disabled" id="newBtn">Book Now</button>
                            </div>
                        </form>
                   
                </div>
            </div>
        </div>
    </div>

}

    <script>
        $("#actionButton").click(function () {
           
        $.ajax({

            url: '@Url.Action("Check", "Booking")',
            method: 'POST',
            data: $("#MyForm").serialize()
        }).done(function (response) {
            if (response.Success) {
                $(".errorDiv").html(response.Message);
                $("#newBtn").removeClass("disabled");
                debugger;
                $('#TotalRooms').attr('readonly', 'readonly');
                $("#actionButton").addClass("disabled");
            } else {
                $(".errorDiv").html(response.Message);
                $("#newBtn").addClass("disabled");
            }
        });
        });

        $("#newBtn").click(function () {
            debugger;
            alert("Work in Progress");
        $.ajax({

            url: '@Url.Action("Index", "Booking")',
            method: 'POST',
            data: $("#MyForm").serialize()
        }).done(function (response) {
            if (response.Success) {
                $(".errorDiv").html(response.Message);
              
            } else {
                $(".errorDiv").html(response.Message);
                
            }
        });
        });
        function f() {
            var text = document.getElementById("totalRoom").value;
            document.getElementById("countRoom").innerHTML = "No of Rooms - " + text;
            
            document.getElementById("TotalAmount").innerHTML ="Total -" + @Model.AccomodationPackage.PerNight * text 
            return true;
        }
    </script>