@model HotelManegementSystem.Areas.DashBoard.ViewModel.AccomodationPackagesListing
@if (Model != null && Model.AccomodationPackages != null && Model.AccomodationPackages.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Accomodation-Types</th>
                <th scope="col">Room No</th>
                <th scope="col">Per Night</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="#display">
            @foreach (var item in Model.AccomodationPackages)
            {
                <tr>

                    <td>@item.Name</td>
                    @if (item.AccomodationType != null)
                    {
                        <td>@item.AccomodationType.Name</td>
                    }
                    <td>@item.NoOfRooms</td>
                    <td>@item.PerNight</td>
                    <td>
                        <button type="button" data-href="@Url.Action("Action", "AccomodationPackages" , new { Id =  item.Id})" data-toggle="modal" data-target="#ActionModel" class="btn-data btn btn-warning"> <i class="fas fa-edit mr-2"></i>Edit</button>
                        <button type="button" class="btn-data btn btn-danger" data-href="@Url.Action("Delete", "AccomodationPackages" , new { Id =  item.Id})" data-toggle="modal" data-target="#ActionModel"> <i class="fas fa-trash mr-2"></i>Delete</button>
                        <button type="button" class="btn-data btn btn-info" data-href="@Url.Action("AddAmneties", "AccomodationPackages" , new { Id =  item.Id})" data-toggle="modal" data-target="#ActionModel"> <i class="fas fa-briefcase mr-2"></i>Amneties</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>

    if (Model.pager.EndPage >1 )
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                @if (Model.pager.CurrenPage > 1)
                {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index","AccomodationPackages")"><<</a></li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","AccomodationPackages",new {pageNo= Model.pager.CurrenPage - 1})"><</a>
                    
                </li>
                }
                @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                {
                    
                <li class="page-item @(page == Model.pager.CurrenPage ? "active": "") ">
                    <a class="page-link" href="@Url.Action("Index","AccomodationPackages",new {pageNo= page})">@page</a>
                    
                </li>
                }
                @if (Model.pager.CurrenPage < Model.pager.TotalPage)
                {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","AccomodationPackages",new {pageNo= Model.pager.CurrenPage +1})">></a></li>
                <li class="page-item"> <a class="page-link" href="@Url.Action("Index","AccomodationPackages",new {pageNo= Model.pager.EndPage})">>></a></li>

                }


            </ul>
        </nav>
       


    }
}
else
{

    <div class="alert alert-warning" role="alert">
        No Record Found !!!
    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@*<script>

        $(".pageBtn").click(function () {
            debugger;
                    $.ajax({

                        url: '@Url.Action("Index", "AccomodationPackages")',
                        data: {
                            pageNo: $(this).attr("data-pagevalue")
                        }


                    }).done(function (response) {

                        $(".display").append(response);


                    }).fail(function (XMLHttpRequest, textStatus, errorThrown) {

                    });

        });
    </script>*@